@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext);

*{
box-sizing: border-box;}

body {
	margin : 0;
	background-color: #f7f9fc;
}

.element {
height: 400px;
width: 400px;
border-radius: 5px;
background-position: center;
background-size: cover;
list-style: none;
float: left;
}

.img-1 {background-image: url('https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849825_960_720.jpg');}
.img-2 {background-image: url('https://cdn.pixabay.com/photo/2017/09/26/13/42/apple-2788662__340.jpg');}
.img-3 {background-image: url('https://cdn.pixabay.com/photo/2017/10/22/09/02/training-2877134__340.jpg');}
.img-4 {background-image: url('https://cdn.pixabay.com/photo/2017/10/03/09/11/hand-2811679__340.jpg');}
.img-5 {background-image: url('https://cdn.pixabay.com/photo/2016/06/09/20/38/woman-1446557__340.jpg');}
.img-6 {background-image: url('https://cdn.pixabay.com/photo/2017/09/27/09/21/concept-2791440__340.jpg');}

#carousel {
	margin: 0px auto;
	height: 400px;
	width: 400px;
	border: 2px solid blue;
	border-radius: 5px;
	overflow: hidden; 
}

.lista {
	margin: 0px;
	padding: 0px;
	width: 2400px;
}

i {
	position: absolute;
	height: 400px;
	
}
div.strzalki i.fa {
	line-height: 400px;
	font-size: 40px;
	
}

.fa-chevron-right {
	margin-left: calc(50% + 250px);
}

.fa-chevron-left {
	margin-left: calc(50% - 250px - 29px);
}

.kontrolki {
	font-size: 20px;
	padding: 20px 0;
	margin: 0;
	position: absolute;
	margin-left: calc(50% - 63.5px);
}